// fonst-size
$_h1_fz:4rem;
$_h2_fz:2.25rem;
$_h3_fz:1.875rem;
$_h4_fz:1.5rem;
$_h5_fz:1.125rem;
$_h6_fz:0.8125rem;
$_ff_raleway: "Raleway";
$_fw_400:400;
$_fw_700:700;
$_fw_900:900;

//colors
$_red:rgb(231, 20, 20);
$_coral:rgb(255, 67, 67);
$_grey:rgb(198, 203, 205);
$_grey_2:rgb(186, 187, 197);
$_grey_3:rgb(108, 114, 121);
$_white:rgb(255, 255, 255);
$_black:rgb(0, 0, 0);
$_black2:rgb(45, 48, 51);
$_violet:rgb(37, 43, 73, 0.8);

