.features {
  background-color: $_white;
  padding: 116px 0;
}

.features-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.features-card {
  /* features_1 */
  width: 370px;
}

.features-card__icons__container {
  /* icon_1 */
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100px;
  height: 100px;
  margin: auto auto 40px;
}

.features-card__title {
  font-family: $_ff_raleway;
  font-size: $_h4_fz;
  font-weight: $_fw_900;
  // line-height: 28px;
  text-align: center;
  color: $_black2;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.features-card__desc {
  text-align: center;
  color: $_grey_3;
}
