.footer {
  padding: 71px 0 25px;
  background: linear-gradient(to bottom, #353c65 75%, #2c3154 25%);
}
.container {
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}
.footer-location {
  width: 370px;
}
.footer-location__title {
  font-family: $_ff_raleway;
  font-size: $_h5_fz;
  font-weight: $_fw_700;
  text-align: center;
  color: $_white;
  margin-bottom: 29px;
}
.footer-location__desc {
  font-family: $_ff_raleway;
  font-size: $_h5_fz;
  font-weight: $_fw_400;
  text-align: center;
  color: $_white;
}
.footer-share {
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-share__title {
  font-family: $_ff_raleway;
  font-size: $_h5_fz;
  font-weight: $_fw_700;
  text-align: center;
  color: $_white;
}
.footer-share__icons {
  display: flex;
  justify-content: center;
}

.footer-about {
  width: 370px;
}
.footer-about__title {
  font-family: $_ff_raleway;
  font-size: $_h5_fz;
  font-weight: $_fw_700;
  text-align: center;
  color: $_white;
  margin-bottom: 29px;
}
.footer-about__desc {
  font-family: $_ff_raleway;
  font-size: $_h5_fz;
  font-weight: $_fw_400;
  text-align: center;
  color: $_white;
}
.copyright {
  width: 370px;
  margin: auto;
  text-align: center;
  span {
    font-family: $_ff_raleway;
    font-size: $_h5_fz;
    font-weight: $_fw_400;
    color: $_grey_4;
  }
  a {
    font-family: $_ff_raleway;
    font-size: $_h5_fz;
    font-weight: $_fw_400;
    color: $_white;
    transition: 0.7s;
    &:hover {
      color: aquamarine;
    }
  }
}
