.header{
  height: 100vh;
  padding-top: 38px;
  // padding-bottom: 100px;
  background-image: url("../img/header_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  
  // Mask header
  &::after{
    content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $_violet;
  }
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  margin-bottom: 130px;
  position: relative;
  &::after{
    content: '';
    height: 1px;
    width: 100%;
    background-color: $_grey_2;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
.header-logo {
}
.header-navigation {
  width: 670px;
}
.navigation-list {
  display: flex;
  justify-content: space-between;
}
.navigation-list__item {
  text-align: center;
  width: 20%;
a{
  font-family: $_ff_raleway;
font-size: 0.8125rem;
font-weight: $_fw_700;
color: $_white;
text-transform: uppercase;
padding: 0 0 41px 0;
position: relative;
display: block;
&::after{
  content: '';
  height: 3px;
  background-color: $_grey_2;
  width: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  transition: 0.3s;
}
&:hover::after{
  width: 100%;
}
&:active{
  color: $_red;
}
&:active::after{
  background-color: $_red;
}
}
}
.header-title {
  font-family: $_ff_raleway;
font-size: $_h1_fz;
font-weight: $_fw_900;
color: $_white;
text-align: center;
margin-bottom: 30px;
text-transform: uppercase;
}
.header-desc {
  font-family: $_ff_raleway;
font-size: $_h4_fz;
font-weight: $_fw_400;
color: $_white;
text-align: center;
margin-bottom: 80px;
}
.header-button {
  text-align: center;
}
.header-button__link {
  display: inline-block;
  background: $_coral;
  color: rgb(255, 255, 255);
font-family: $_ff_raleway;
font-size: $_h4_fz;
font-weight: $_fw_900;
line-height: 80px;
text-transform: uppercase;
width: 370px;
transition: 0.7s;
&:hover{
  background: $_red;
}
&:active{
  background: $_coral;
  box-shadow: 4px 4px 30px 0px $_coral;
}
}