.header {
  // height: 100vh;
  padding-top: 38px;
  padding-bottom: 100px;
  background-image: url("../img/header_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  // Mask header
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $_violet;
  }
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  margin-bottom: 130px;
  position: relative;
  &::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: $_grey_2;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
.header-logo {
}
.header-logo__active {
  color: #656980;
  font-size: 36px;
  font-weight: $_fw_900;
}
.header-logo__box {
  font-size: 36px;
  color: $_white;
}
.header-navigation {
  width: 670px;
}
.navigation-list {
  display: flex;
  justify-content: space-between;
}
.navigation-list__item {
  text-align: center;
  width: 20%;
  a {
    font-family: $_ff_raleway;
    font-size: 0.8125rem;
    font-weight: $_fw_700;
    color: $_white;
    text-transform: uppercase;
    padding: 0 0 41px 0;
    position: relative;
    display: block;
    &::after {
      content: "";
      height: 3px;
      background-color: $_grey_2;
      width: 0;
      left: 0;
      bottom: 0;
      position: absolute;
      transition: 0.3s;
    }
    &:hover::after {
      width: 100%;
    }
    &:active {
      color: $_red;
    }
    &:active::after {
      background-color: $_red;
    }
  }
}
.header-title {
  font-family: $_ff_raleway;
  font-size: $_h1_fz;
  font-weight: $_fw_900;
  color: $_white;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.header-desc {
  font-family: $_ff_raleway;
  font-size: $_h4_fz;
  font-weight: $_fw_400;
  color: $_white;
  text-align: center;
  margin-bottom: 80px;
}
.header-button {
  text-align: center;
}
.header-button__link {
  display: inline-block;
  background: $_coral;
  color: rgb(255, 255, 255);
  font-family: $_ff_raleway;
  font-size: $_h4_fz;
  font-weight: $_fw_900;
  line-height: 80px;
  text-transform: uppercase;
  width: 370px;
  animation: pulse 1s 10 alternate;
  transition: 0.7s;
  &:hover {
    background: $_red;
    animation: none;
  }
  &:active {
    background: $_coral;
    box-shadow: 4px 4px 30px 0px $_coral;
  }
}
.header-burger {
  display: none;
  align-self: center;
  width: 24px;
  height: 18px;
  position: relative;
  z-index: 50;
  cursor: pointer;
}

.header-burger span {
 position: absolute;
 top: calc(50% - 1px);
 left: 0 ;
 width: 100%;
 height: 2px;
 background-color: $_white;
 transition: 0.3s;
 &:first-child{
  top: 0;
 }
 &:last-child{
  top: auto;
  bottom: 0;
 }
}
.header-burger{
  &.active{
    span{
        transform: scale(0);
        &:first-child{
            transform: rotate(-45deg);
            top: calc(50% - 1px);
    }
        &:last-child{
            transform: rotate(45deg);
            top: calc(50% - 1px);
    }
  }
}
}

@keyframes pulse {
  0% {
    // width: 370px;
    color: rgb(230, 226, 15);
  }

  100% {
    font-size: $_h3_fz;
    color: rgb(34, 231, 221);
    transform: scale(1.2);
    //  width: 410px;
    //  line-height: 88px;
  }
}
@media (max-width: 1024px) {
  .header-navigation {
    width: 566px;
  }
  .header-title {
    font-size: 3rem;
  }
  .header-desc {
    font-size: $_h5_fz;
  }
  .header-button__link {
    width: 314px;
  }
}
// @media(max-width:767px){
//   // .header{
//   //   padding-top: 0;
//   // }
//   .header-burger{
//     display: block;
//   }


// .header-navigation{
//   position: absolute;
//   top: 0;
//   left: -130%;
//   height: 100vh;
//   width: 100%;
//   transition: 0.3s;
//   &.active{
//     left: 0;
//   }
// }
// .navigation-list{
//   flex-direction: column;
  
// }
// }

@media(max-width:320px){
  .header{
    padding-top: 21px;
    padding-bottom: 52px;
    height: 100vh;
  }

  .header-burger{
    display: block;
  }

.header-navigation{
  position: absolute;
  top: 0;
  left: -130%;
  height: 100vh;
  width: 100%;
  padding-top: 100px;
  transition: 0.3s;
  &.active{
    // убираем текст при бургере не получилось
    // & ~ .header-title{
    //   color: transparent;
    // }
    left: 0;
  }
}
.navigation-list{
  flex-direction: column;
  
}
  // .header-navigation {
  //   display: none;
  // }
  .header-title {
    font-size: $_h2_fz;
  }
  .header-desc {
    font-size: $_h6_fz;
  }
  .header-button__link {
    width: 240px;
  }
  .header-wrap{
    &::after
    {
      visibility: hidden;
    }
  }
  .header-logo__active, .header-logo__box{
    font-size: $_h4_fz;
  }
  .navigation-list__item a{
    &::after{
      visibility: hidden;
    }
  }
}