@import "./variables";
@import "./mixins";
@import "./cdn";
@import "./features.scss";
@import "./team.scss";
@import "./header.scss";
@import "./download.scss";
@import "./footer.scss";
@import "./city.scss";
@import "./testimonials.scss";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-family: "Raleway", sans-serif;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  position: relative;
  z-index: 20;
}
@media (max-width: 1024px){
  .container{
    max-width: 984px;
  }
  .fa-brands{
    width: 33px;
  height: 33px;
  }
  .fa-facebook-f {
    font-size: $_h5_fz;
  }
  .fa-twitter {
    font-size: $_h5_fz;
  }
  .fa-invision {
    font-size: $_h5_fz;
}
}
@media(max-width:320px){
  .fa-brands{
    width: 39px;
  height: 39px;
  }
  .fa-facebook-f {
    font-size: $_h4_fz;
  }
  .fa-twitter {
    font-size: $_h4_fz;
  }
  .fa-invision {
    font-size: $_h4_fz;
}
}