.team {
  background-color: $_white;
  padding: 114px 0;
}
.team-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px -10px 0 -10px;
}
.team-card {
  width: 270px;
  margin: 0 10px;
}
.team-card__image__container {
  width: 270px;
  height: 270px;
  margin: auto auto 30px;
}
.team-card__image__container img{
  width: 100%;
  height: 100%;
}
.team-card__person {
  margin-bottom: 20px;
  h4 {
    color: $_black2;
    font-size: $_h4_fz;
    font-family: $_ff_raleway;
    font-weight: $_fw_700;
  }
  span {
    color: $_coral;
    font-size: $_h5_fz;
    font-family: $_ff_raleway;
    font-weight: $_fw_400;
    text-transform: uppercase;
  }
}
.team-card__desc {
  font-family: $_ff_raleway;
  font-size: $_h5_fz;
  font-weight: $_fw_400;
  color: $_grey_3;
  margin-bottom: 40px;
}
.team-card__icons {
  display: flex;
  justify-content: space-between;
  width: 127px;
}
.team-card__icons-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $_grey;
  width: 39px;
  height: 39px;
}
.team-card__icons-wrap__facebook,.team-card__icons-wrap__twitter,.team-card__icons-wrap__invision{
  font-size: $_h4_fz;
  color: $_grey;
  transition: 0.7s;
}
.team-card__icons-wrap__facebook{
  &:hover {
    color: $_white;
    background-color: blue;
    transform: scale(1.2)
  }
}
.team-card__icons-wrap__twitter{
  &:hover {
    color: rgb(29, 161, 242);
    background-color: rgb(236, 229, 229);
    transform: scale(1.2)
  }
}
.team-card__icons-wrap__invision{
  &:hover {
    color: $_red;
    background-color: rgb(236, 229, 229);
    transform: scale(1.2)
  }
}
@media (max-width:1024px){
  .team{
    padding: 80px 0;
  }
  .team-card{
    width: 227px;
    margin: 0 8px;
  }
  .team-card__image__container {
    width: 227px;
    height: 227px;
    margin: auto auto 30px;
  }
  .team-card__person {
    h4 {
      font-size: $_h5_fz;
    }
    span {
      font-size: $_h6_fz;
    }
  }
  .team-card__desc{
    font-size: $_h6_fz;
  }
  
}
@media (max-width:320px){
  .team-wrap{
    display: flex;
    flex-direction: column;
    row-gap: 56px;
  }
  .team-card{
    width: 280px;
    margin: 0 auto;
  }
  .team-card__image__container {
    width: 280px;
    height: 227px;
  }
  .team-card__image__container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}