.testimonials {
  & > .testimonials-container {
    & > .testimonials-wrap {
      & > .testimonials-wrap__slide {
        &:nth-child(even) {
          .testimonials-wrap__slide-info {
            background-color: rgb(3, 117, 117);
          }
        }
      }
    }
  }
}
.testimonials-container .swiper-pagination-bullet {
  margin-top: 10px !important;
}
.testimonials-container {
  overflow: hidden; // отключаем скролл для слайдера!!!
  position: relative;
  .swiper-button-prev,
  .swiper-button-next {
    &::after {
      font-size: 60x;
      color: $_white;
    }
  }
  .swiper-pagination {
    position: static;
  }
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border: 1px solid #7e5d6f;
    font-size: 14px;
    line-height: 20px;
    background-color: #a84079;
  }
}
.swiper-container {
}
.testimonials-wrap {
}
.swiper-wrapper {
}
.testimonials-wrap__slide {
  display: flex;
}
// .testimonials-slider__info {
//   &:nth-child(even) {
//     background-color: aqua;
//   }
// }
.swiper-slide {
}
.testimonials-wrap__slide-image {
  width: 50%;
  overflow: hidden;
  height: 490px;
}
.testimonials-wrap__slide-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.testimonials-wrap__slide-info {
  background-color: #5c3249;
  width: 50%;
  display: flex;
}
.slide-info__wrap{
  width: 470px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
.slide-info__wrap-desc {
  font-family: Cardo;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  line-height: 49px;
  color: $_white;
}
.slide-info__wrap-name {
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  color: $_white;
}
@media (max-width: 1024px) {
  .slide-info__wrap {
    width: 330px;
  }
  .testimonials-wrap__slide-image {
    height: 370px;
  }
  .slide-info__wrap-desc {
    font-size: 24px;
    line-height: 33px;
  }
  .slide-info__wrap-name {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  .testimonials-wrap__slide {
    flex-direction: column;
  }
  .testimonials-wrap__slide-image {
    height: 212px;
  }
  .testimonials-wrap__slide-image {
    width: 100%;
  }
  .testimonials-wrap__slide-info {
    width: 100%;
  }
  .slide-info__wrap {
    width: 275px;
  }
  .swiper-button-prev, .swiper-button-next{
    visibility: hidden;
  }
}
